
body,h1,h2,h3,h4,h5,h6{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}

.container{
    width: 1320px;
    margin: auto;
}

/* Header Style */
.jon-header .navbar-brand {
	width: 100px;
    height: auto;
}
.jon-header span {
	display: inline-block;
	background: #6278df;
	color: #fff;
	height: 43px;
	width: 40px;
	text-align: center;
	border-radius: 10px;
	font-size: 28px;
	position: relative;
	top: 3px;
}
.jon-menu .nav-link {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.jon-menu {
    left: 410px;
    position: relative;
    text-align: right;
}
/* Slider Section */
.hero-div{
    background-color: #f9f9ff;
}
.hero-text{
    line-height: 25px;
}
.hero-text button, .about-text button{
    background-color: #8490ff;
    border: none;
    padding: 7px 13px;
}

/*  Abput Section  */
.about-pic{
    width: 500px;
    height: auto;
}

/* Number-Div */
.number-div{
    background-color: #8490ff;
    
}

.number-text{
    color: #ffffff;
}



/*  Feature Section css */
.feature-item {
    height: 300px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.left-img-sec {
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
}
.left-test-sec {
    width: 60%;
    padding: 25px;
}

.left-img-sec img {
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -80px;
}

/*  Portolio Hover Css  */
.portfolio-item{}
.portfolio-item a{
    position: relative;
    display: block;
}
.portfolio-item a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(98, 120, 223,.7);
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}

.portfolio-item:hover a::after{
    opacity: 1;
    visibility: visible;
}

.min-section-bg{
    background-color: #f7f9ff;
}

/* Pricing table */
.price-content{
    background-color: #fff;
    padding: 50px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    border-radius: 5px;
}
.pricing-item h2 {
    background-color: #f9f9ff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 30px 10px;
    margin: auto;
}
.muted-text p {
    line-height: 54px;
    font-size: 19px;
}


.pricing-item h5{}
.pricing-item ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 45px;
}
.pricing-item ul li {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #777;
}
.pricing-item ul li span {
    color: #657be0;
    font-size: 25px;
    font-weight: bold;
    width: 40px;
    display: inline-block;
}


.pricing-item-button{}
.pricing-item-button a {
    border-color: #657be0;
    border-width: 2px;
    color: #657be0;
    padding: 10px 20px;
    font-size: 22px;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%);
    
}
/*  testimonial section  */
.author-info {
    width: 220px;
    margin: auto;
}
.author-info img {
    width: 85px;
    margin-right: 18px;
}
.user-details {
    text-align: left;
    position: relative;
    top: 10px;
}

/*  About Section  */
.about-item {
    margin-top: 90px;
}
.about-item .card{}
.about-item .card img {
    width: 130px;
    height: auto;
    margin-top: -70px;
    margin-left: 15px;
}

/*  Conent Us CSS  */
.contnt-form-div .card{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    padding: 40px 30px;
}
.footer{
    background-color: #04091e;
    color: #ffffff;
   
}
.footer p{
    font-size: 18px;
}
